body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5; /*  background image opacity */
    z-index: -1;
}



.left-nav{
   background-color:#009688;
    width: 20%;
    float: left;
    color: #fff;
    text-align: center; 
    border-radius:4px ;
    margin: 10px 6px;
    height: 100%;
    
} 
.main-content{
    float: left;
    margin-top: 13px;
    margin-left: 50px;
    width: 830px;
    height: 500px;
    /* background-color: #009688; */
    }
    /* Submit button */
input[type=submit] {
    width: 15%;
    background-color: #009688;
    color: #fff;
    padding: 9px 10px;
    margin-top:20px ;
    margin-right:50px ;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }


 .main-content input[type=text], select {
    width: 100%;
    padding: 10px 140px;
    margin: 8px 0;
    background-color: gainsboro;
    display: inline-block;
    border: 1px solid #009688;
    border-radius: 4px;
    font-size: 30px;
    box-sizing: border-box; 
    outline-color: #009688;
    transition: 0.5s;
    /* display: flex; */
  } 
 

  .left-nav input[type=text], select {
    width: 200px;
    padding: 12px 5px;
    margin: 10px 10px;
    display: inline-block;
    background-color: gainsboro;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-bottom{
    background-color: white;
    width:80% ;
    border-radius:10px ;
    margin-top:60px ;
   }
  p , label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }