  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', "sans serif";
    font-size: 1rem;
    margin: 0;
}
/* css custom variables */
:root{
    --hima_green: #009688;
}


header{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 1rem;
}

.logo{
    display: flex;
    min-height: fit-content;
    margin-top: fit-content;

}

#vertical-line{
    width: 3px;
    background-color: var(--hima_green);
    height: auto;
    margin: 0 10px 0 10px;
}

#logo-text{
    padding: 0;
    font-weight: 600;
}


#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    display: flex;

}

#nav ul li{
    margin: 20px;
}

#nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
}

#nav ul li a:hover{
    color: var(--hima_green);
}

#nav ul li a::after{
    content: '';
    display: block;
    background-color: var(--hima_green);
    height: 3px;
    align-content: center;
    float: right;
    width: 0;
    transition: all 1s;
}

#nav ul li a:hover::after{
    width: 100%;
}

#nav-button button{
    background-color: var(--hima_green);
    padding: .3rem 1rem;
    border: 2px solid var(--hima_green);
    border-radius: .5rem;
    color: #fff;
    font-weight: 500;
    transition: all 1s;
}

#nav-button button:hover{
    background-color: #fff;
    color: var(--hima_green);
}

hr{
    height: 10px;
    margin-bottom: 0;
}


/* homepage styling */

main{
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,0.45)), url(from_website_road.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.homepage{
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0;
    font-size: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    

}

.homepage-hr{
    display: flex;
    justify-content: space-around;
}

.homepage-text button{
    margin-top: 2rem;

    background-color: var(--hima_green);
    padding: .3rem 1rem;
    border: 2px solid var(--hima_green);
    border-radius: .5rem;
    color: #fff;
    font-weight: 500;
    transition: all 1s;
}

.homepage-text button:hover{
    background-color: transparent;
    color: #fff;
}

.homepage-text{
    font-size: 4rem;
}

.homepage img{
    border-radius: 1rem;
    max-height: 200px;
}

